  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a gravida sem, in venenatis sapien. Etiam vitae posuere orci, nec fermentum ipsum. Donec scelerisque tellus elit, eget iaculis massa egestas a. Cras ultricies, quam eu dignissim mattis, magna erat aliquam dui, finibus imperdiet nisl nunc at sapien. Quisque id dui</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 class="mb-3">Information</h6>
          <ul class="footer-links">
            <li class="my-1"><a href="#">Terms & Conditions</a></li>
            <li class="my-1"><a href="#">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 class="mb-3">Support & Help</h6>
          <ul class="footer-links">
            <li class="my-1"><a href="#">FAQ</a></li>
            <li class="my-1"><a href="#">Contact with us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="copyright-text text-center">Copyright &copy; 2018 All Rights Reserved by
       <a href="#">-Name-</a>.
          </p>
        </div>

      </div>
    </div>
</footer>
