#belowDetails {
	width: 80%;
}

#aboveDesc {
	// color: #171717;
	// border-top: 4px solid rgba(0, 0, 0, 0.2);

	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #333, #ccc, #333);
}

#description {
	width: 98%;
}

#description p {
	text-indent: 2em;
	font-size: 1.2em;
	letter-spacing: 0.02em;
}

#description #submitChangesButton {
	// background: red;
}

label {
	margin-bottom: 0;
}

#chooseImage {
	display: inline-block;
	height: auto;
}

.form-control-file,
.form-control-range {
	display: inline-block;
	width: auto;
}
