<div class="container-fluid" id="belowDetails">
  <hr id="aboveDesc">
  <section class="mx-auto" id="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur mi ut feugiat mattis. Curabitur feugiat, metus eget fringilla fringilla, erat sapien finibus ante, faucibus hendrerit tortor nulla egestas dolor. Etiam in elementum purus, non posuere massa. Aliquam porttitor, purus at commodo elementum, nibh eros vulputate nisi, id malesuada risus. </p>

    <form action="">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Edit content:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <button type="submit" class="btn btn-danger" id="submitChangesButton">Submit changes</button>
    </form>

  </section>

  <section id="comments">

    <form action="">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>

  </section>
</div>
