<section id="userImages">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center mb-4 mostLikedImageRow">
      <div class="col-2 d-none d-sm-block"></div>
      <div class="col-12 col-sm-4 d-flex justify-content-center image">
        <div class="mostLiked">THE MOST LIKED<span class="d-inline d-sm-none d-md-inline"> IMAGE</span></div>
        <img src="../../assets/imgs/4.jpg" alt="">
      </div>
      <div class="col-12 col-sm-6 pl-4 mt-3 my-sm-2 d-flex flex-column justify-content-center">
        <div class="d-none d-sm-block my-3">
          Points: <span class="px-2 imagePoints">43</span>
        </div>
        <div class="d-none d-sm-block my-3">
          <span class="d-none d-md-inline">Upload date: </span><span class="px-0 px-md-2 uploadDate">8 kwietnia 2020<span class="d-none d-md-inline"> 14:56</span></span>
        </div>
        <div class="d-flex d-sm-none justify-content-center">
          <span class="px-2 uploadDate">8 kwietnia 2020</span>
        </div>
        <div class="d-flex d-sm-none justify-content-center">
          <span class="likeGrid px-3"><span class="heart"></span></span><span class="px-2 imagePoints">43</span>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center py-4 imageRow">
      <div class="col-2 d-none d-sm-block"></div>
      <div class="col-12 col-sm-4 d-flex justify-content-center image">
        <img src="../../assets/imgs/1.jpg" alt="">
      </div>
      <div class="col-12 col-sm-6 pl-4 mt-3 my-sm-2 d-flex flex-column justify-content-center">
        <div class="d-none d-sm-block my-3">
          Points: <span class="px-2 imagePoints">28</span>
        </div>
        <div class="d-none d-sm-block my-3">
          <span class="d-none d-md-inline">Upload date: </span><span class="px-0 px-md-2 uploadDate">8 kwietnia 2020<span class="d-none d-md-inline"> 14:56</span></span>
        </div>
        <div class="d-flex d-sm-none justify-content-center">
          <span class="px-2 uploadDate">8 kwietnia 2020</span>
        </div>
        <div class="d-flex d-sm-none justify-content-center">
          <span class="likeGrid px-3"><span class="heart"></span></span><span class="px-2 imagePoints">28</span>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center py-4 imageRow">
      <div class="col-2 d-none d-sm-block"></div>
      <div class="col-12 col-sm-4 col-4 d-flex justify-content-center image">
        <img src="../../assets/imgs/2.jpg" alt="">
      </div>
      <div class="col-12 col-sm-6 col-4 pl-4 mt-3 my-sm-2 d-flex flex-column justify-content-center">
        <div class="d-none d-sm-block my-3">
          Points: <span class="px-2 imagePoints">17</span>
        </div>
        <div class="d-none d-sm-block my-3">
          <span class="d-none d-md-inline">Upload date: </span><span class="px-0 px-md-2 uploadDate">8 kwietnia 2020<span class="d-none d-md-inline"> 14:56</span></span>
        </div>
        <div class="d-flex d-sm-none justify-content-center">
          <span class="px-2 uploadDate">8 kwietnia 2020</span>
        </div>
        <div class="d-flex d-sm-none justify-content-center">
          <span class="likeGrid px-3"><span class="heart"></span></span><span class="px-2 imagePoints">17</span>
        </div>
      </div>
    </div>
  </div>
</section>
