<section id="tiles">
  <div class="container-fluid pb-4">
    <div class="card-columns">
      <div class="card">
        <img
          class="card-img"
          src="../../assets/imgs/1.jpg"
          alt="Card image cap"
        />
        <div class="">
          <button class="btn testBox">
            <span>More</span>
          </button>
        </div>
        <div class="row d-flex align-items-center likeBox">
          <div class="col-6">
            <!-- <button type="button" class="btn ml-2 p-0 like"> -->
              <div class="heart"></div>
            <!-- </button> -->
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center likesAmount">
            <span>
              500
            </span>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img"
          src="../../assets/imgs/2.jpg"
          alt="Card image cap"
        />
        <div class="">
          <button class="btn testBox">
            <span>More</span>
          </button>
        </div>
        <div class="row d-flex align-items-center likeBox">
          <div class="col-6">
            <!-- <button type="button" class="btn ml-2 p-0 like"> -->
              <!-- <i class="fas fa-thumbs-up"></i> -->
              <!-- <em class="fa fa-heart love pt-1"></em> -->
              <div class="heart"></div>
            <!-- </button> -->
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center likesAmount">
            500
          </div>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="../../assets/imgs/3.jpg" alt="Card image" />
        <div class="d-flex flex-wrap-reverse testBox">
          <span>More</span>
        </div>
        <div class="row d-flex align-items-center likeBox">
          <div class="col-6">
            <!-- <button type="button" class="btn ml-2 p-0 like"> -->
              <!-- <i class="fas fa-thumbs-up"></i> -->
              <!-- <em class="fa fa-heart love pt-1"></em> -->
              <div class="heart"></div>
            <!-- </button> -->
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center likesAmount">
            500
          </div>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="../../assets/imgs/4.jpg" alt="Card image" />
      </div>

      <div class="card">
        <img class="card-img" src="../../assets/imgs/5.jpg" alt="Card image" />
      </div>

      <div class="card">
        <img class="card-img" src="../../assets/imgs/6.jpg" alt="Card image" />
      </div>

      <div class="card">
        <img class="card-img" src="../../assets/imgs/7.jpg" alt="Card image" />
      </div>
    </div>
  </div>
</section>
