<section class="container-flex" id="slider">
  <div id="title">
    <p>New Categories</p>
  </div>
  <!-- ------------------------------------------------------------------------- -->

  <div class="row">
    <div class="col-md-12 heroSlider-fixed">
      <div class="overlay"></div>
      <!-- Slider -->
      <div class="slider responsive">
        <div class="imageBox">
          <!-- <div class="imgimg"></div> -->
          <img src="../../assets/imgs/2.jpg" alt="">
          <!-- <img src="http://placehold.it/200x150" alt="" /> -->
          <!-- <div class="imgLayer1"></div> -->
        </div>
        <div class="imageBox">
          <img src="../../assets/imgs/4.jpg" alt="" />
        </div>
        <div class="imageBox">
          <img src="../../assets/imgs/5.jpg" alt="" />
        </div>
        <div class="imageBox">
          <img src="../../assets/imgs/6.jpg" alt="" />
        </div>
        <div class="imageBox">
          <img src="../../assets/imgs/7.jpg" alt="" />
        </div>
        <div class="imageBox">
          <img src="http://placehold.it/200x150" alt="" />
        </div>
        <div class="imageBox">
          <img src="http://placehold.it/200x150" alt="" />
        </div>
        <div class="imageBox">
          <img src="http://placehold.it/200x150" alt="" />
        </div>
      </div>
      <!-- control arrows -->
      <!-- <div class="prev">
          <span aria-hidden="true">
            <i class="fas fa-angle-left"></i>
          </span>
        </div>
        <div class="next">
          <span aria-hidden="true">
            <i class="fas fa-angle-right"></i>
          </span>
        </div> -->
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------- -->
</section>
