<section id="mainProfile">
  <div class="container-fluid px-0 py-2">
    <div class="d-flex justify-content-center justify-content-sm-end editProfileArea">
      <div class="d-none d-sm-block editProfileBox mr-4 mt-4 pr-2 pr-sm-3 pt-2 pt-sm-3">
        <button class="btn btn-outline-secondary py-1">EDIT PROFILE</button>
      </div>
      <div class="d-sm-none editProfileBox my-4 py-2">
        <button class="btn btn-outline-secondary py-1">EDIT PROFILE</button>
      </div>
    </div>

    <div class="mainProfileData">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center profileImg">
            <img src="../../assets/imgs/profile.png" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center nicknameBox">
            <span class="mt-4">Simon Gregor</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center speciesBox">
            <span class="mt-4">Dragon</span>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-around w-100 mx-0 my-5 py-5">
        <div class="col-1 d-none d-sm-block"></div>

        <div class="col-4 col-sm-3 text-center pr-0 pr-sm-3">
          <div class="row h-50">
            <div class="col-12 ">Registered</div>
          </div>
          <div class="row h-50">
            <div class="col-12 data mt-3 px-0 px-sm-3">01-12-2019</div>
          </div>
        </div>

        <div class="col-4 col-sm-3 text-center">
          <div class="row h-50">
            <div class="col-12">Reputation</div>
          </div>
          <div class="row h-50">
            <div class="col-12 data mt-3">86</div>
          </div>
        </div>

        <div class="col-4 col-sm-3 text-center">
          <div class="row h-50">
            <div class="col-12"><span class="d-none d-sm-inline">Uploaded </span>Images</div>
          </div>
          <div class="row h-50">
            <div class="col-12 data mt-3">14</div>
          </div>
        </div>
        <div class="col-1 d-none d-sm-block"></div>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="followArea">
            <a href="#" class="button py-3">
              <span class="followSpan">FOLLOW</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
