<!-- ------------------- A D V E R T I S E M E N T ------------------- -->
<div class="d-md-none d-flex align-items-center justify-content-center py-1 advertArea1">
  <div class="d-inline-block d-md-none advertBox1"></div>
</div>
<!-- --------------------------------------------------------- -->
<section class="mt-md-4" id="detail_view">

  <div class="container-fluid d-flex flex-row" id="detail_view_container">
    <!-- --------------- M O B I L E --------------- -->
    <div class="d-block d-sm-none deleteAreaMobile">
      <div class="my-2">Tags:</div>
      <div class="my-2" id="cmcGroup">
        <button type="button" class="btn btn-warning">CMC (Group)</button>
      </div>
      <div class="my-2" id="deleteAdmin">
        <button type="button" class="btn btn-danger">Delete (admin)</button>
      </div>
    </div>

    <div class="d-block d-sm-none countingAreaMobile">
      <div class="plus_and_counting">
        <button type="button" class="btn btn-success plus">+</button>
        <div class="count text-center d-flex align-items-center">
          <span classs="">11</span>
        </div>
      </div>
      <br />
      <button type="button" class="btn btn-danger minus">-</button>
    </div>

    <div class="d-block d-sm-none uploaded_and_visibility_mobile">
      <div class="my-2 text-right">Uploaded by:</div>
      <div class="my-2 text-right" id="uploadedBy">
        <button type="button" class="btn btn-success ml-auto">admin</button>
      </div>
      <div class="my-2 text-right" id="visibility">
        <button type="button" class="btn btn-danger">
          Toggle visibility / Hide
        </button>
      </div>
    </div>
    <!-- --------------------------------------------- -->

    <div class="d-none d-md-block banerBox">
      <div class="baner d-flex" id="baner1"></div>
    </div>

    <div class="container-fluid mx-auto imageDetailArea">
      <!-- <div class="row d-block d-sm-none choosedImageBoxMobile">
        <div class="">
          <img src="../../assets/imgs/2.jpg" alt="">
        </div>
      </div> -->
      <div class="row h-100 d-flex align-items-center px-0 px-lg-3" id="imageDetailRow">
        <div class="d-none d-sm-block countingArea">
          <div class="plus_and_counting">
            <button type="button" class="btn btn-success plus">+</button>
            <div class="count text-center d-flex align-items-center">
              <span classs="">11</span>
            </div>
          </div>
          <br />
          <div class="minusBox">
            <button type="button" class="btn btn-danger minus">-</button>
          </div>
        </div>
        <div class="d-none d-sm-block deleteArea">
          <div class="my-2">Tags:</div>

          <div class="my-2" id="cmcGroup">
            <button type="button" class="btn btn-warning">CMC (Group)</button>
          </div>
          <div class="my-2" id="deleteAdmin">
            <button type="button" class="btn btn-danger">
              Delete (admin)
            </button>
          </div>
        </div>
        <div class="w-100 px-0 px-sm-1">
          <div class="choosedImageBox">
            <img src="../../assets/imgs/3.jpg" alt="" />
          </div>
        </div>
        <div class="d-none d-sm-block uploaded_and_visibility">
          <div class="my-2 text-right">Uploaded by:</div>

          <div class="my-2 text-right" id="uploadedBy">
            <button type="button" class="btn btn-success ml-auto">
              admin
            </button>
          </div>
          <div class="my-2 text-right" id="visibility">
            <button type="button" class="btn btn-danger">
              Toggle visibility / Hide
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none d-md-block banerBox">
      <div class="baner" id="baner2"></div>
    </div>
  </div>
</section>
