#detail_view {
	// margin-top: 2em;
}

#detail_view_container {
	padding: 0 0;
	min-height: 600px;
}

#detail_view .imageDetailArea {
	width: calc(100% - 250px);
	overflow: auto;
}

#detail_view .container-fluid .banerBox {
	position: relative;
	width: 125px;
}

#detail_view .container-fluid .baner {
	height: 600px;
	width: 120px;
	// margin: 0 .5em;
	// margin-top: 100%;
	border: 1px solid red;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.advertArea1 {
}

.advertBox1 {
	height: 120px;
	width: 600px;
	// background: yellow;
	border: 1px solid red;
}

#detail_view .choosedImageArea {
	width: 80%;
}

#detail_view .choosedImageBox {
	max-width: 100%;
	height: auto;

	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
		0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

#detail_view .choosedImageBox img {
	object-fit: cover;
	width: 100%;
}

#detail_view .choosedImagePanel {
	height: auto;
	width: 100%;

	position: relative;
}

#detail_view .countingArea:hover > .plus_and_counting {
	opacity: 0.95;
}

#detail_view .plus_and_counting {
	width: 3em;
	height: 9.2em;
	// border: 1px solid red;

	background: #304242;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 0.6em;

	opacity: 0.85;
	transition: opacity .25s;
}

#detail_view .countingAreaMobile .plus_and_counting {
	width: 8em;
	height: 2.5em;
}
// #detail_view .countingAreaMobile .plus_and_counting .plus,
// #detail_view .countingAreaMobile .plus_and_counting .count,
// #detail_view .countingAreaMobile .plus_and_counting .minus {
// 	width: 100%;
// 	height: 100%;
// }
#detail_view .countingAreaMobile .plus_and_counting .count {
	height: auto;
}

#detail_view .count {
	width: 100%;
	height: 3em;
	background: #304242;
}

.count span {
	width: 100%;
}

#detail_view .minus,
#detail_view .plus {
	font-size: 1.5em;
}

// #detail_view .minus {
// 	width: 100%;
// 	height: auto;

// 	border-radius: 0.6em;
// }

// .countingArea .minusBox {
// 	width: 3em;
// }

.countingArea button {
	width: 100%;
	height: auto;

	border-radius: 0;
}

//-----------------------delete area-----------------
.deleteArea #deleteAdmin,
.deleteArea #cmcGroup {
	width: 100%;
	height: 2em;

	// border: 1px solid red;
}
.deleteArea button {
	height: 100%;
	line-height: 100%;
}

//-----------------------uploaded_and_visibility area-----------------
.uploaded_and_visibility #uploadedBy,
.uploaded_and_visibility #visibility {
	width: 100%;
	height: 2em;
}

.uploaded_and_visibility #uploadedBy button {
	border: 1px solid black;
	color: #0e0e0e;
	font-weight: 500;
}

.uploaded_and_visibility button {
	height: 100%;
	line-height: 100%;
}

#imageDetailRow {
	position: relative;
}

// .deleteArea,
// .uploaded_and_visibility,
.countingArea {
	position: absolute;
}

.countingArea {
	left: 2em;
	top: 30%;
	// transform: translate(0, -50%);
}
.deleteArea {
	left: 2em;
	bottom: 2em;
}
.uploaded_and_visibility {
	right: 2em;
	bottom: 2em;
}

//------------------ M O B I L E ------------
@media (max-width: 575.98px) {
	#detail_view {
		margin-top: 0em;
	}

	#detail_view_container {
		position: relative;
		min-height: 305px;
		max-width: 100%;
	}

	#detail_view .container-fluid .banerBox {
		display: none;
	}

	#detail_view .imageDetailArea {
		width: 100%;
		max-height: 100vh;
		padding: 0 0;

		// overflow: hidden;
	}

	.deleteAreaMobile {
		position: absolute;
		z-index: 2;

		left: 1em;
		bottom: 1em;

		opacity: 0.9;
	}

	.countingAreaMobile button {
		width: 100%;

		border-radius: 0;
	}

	.countingAreaMobile {
		position: absolute;
		left: 50%;
		top: 2.05em;
		transform: translate(-50%, 0);

		z-index: 2;

		// left: 1em;
		// top: 1em;

		opacity: 0.9;
	}

	.uploaded_and_visibility_mobile {
		position: absolute;
		z-index: 2;

		right: 1em;
		bottom: 1em;

		opacity: 0.9;
	}

	// #detail_view .choosedImageBoxMobile {
	// 	max-width: 100%;
	// 	height: auto;
	// 	position: absolute;
	// }

	// #detail_view .choosedImageBoxMobile img {
	// 	object-fit: cover;
	// 	width: 100%;
	// }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	#detail_view .choosedImageArea {
		width: 100%;
	}

	#detail_view .choosedImagePanel .btn {
		padding: 0.25em;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	#detail_view .imageDetailArea {
		width: 100%;
	}

	#detail_view .choosedImageArea {
		width: 100%;
	}
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
	#detail_view .imageDetailArea {
		width: 100%;
	}

	#detail_view .choosedImageArea {
		width: 100%;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	#detail_view .choosedImageArea {
		width: 100%;
	}
}
