<section id="detail_view">
  <div class="container-fluid d-flex flex-row">
    <div class="banerBox">
      <div class="baner d-flex" id="baner1"></div>
    </div>

    <div class="container-fluid mx-auto imageDetailArea">
      <div class="row h-100">
        <div class="col-3">
          <div class="row h-50">
            <div class="col-12 d-flex align-items-center pl-5">
              <div class="countingArea">

                <div class="plus_and_counting">
                  <button type="button" class="btn btn-success plus">+</button>
                  <div class="count text-center d-flex align-items-center">
                    <span classs="">11</span>
                  </div>
                </div>
                <br>
                <button type="button" class="btn btn-danger minus">-</button>

              </div>
            </div>
          </div>
          <div class="row h-50">
            <div class="col-12 d-flex align-items-end pl-5">
              <div class="deleteArea">

                <div class="my-2">Tags:</div>

                <div class="my-2" id="cmcGroup">
                  <button type="button" class="btn btn-warning">CMC (Group)</button>
                </div>
                <div class="my-2" id="deleteAdmin">
                  <button type="button" class="btn btn-danger">Delete (admin)</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="choosedImageBox">
            <img src="../../assets/imgs/2.jpg" alt="">
          </div>
        </div>
        <div class="col-3">
          <div class="row h-50"></div>
          <div class="row h-50">
            <div class="col-12 d-flex align-items-end flex-row-reverse pr-5">
              <div class="uploaded_and_visibility">

                <div class="my-2 text-right">Uploaded by:</div>

                <div class="my-2 text-right" id="uploadedBy">
                  <button type="button" class="btn btn-success ml-auto">admin</button>
                </div>
                <div class="my-2 text-right" id="visibility">
                  <button type="button" class="btn btn-danger">Toggle visibility / Hide</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banerBox">
    <div class="baner" id="baner1"></div>
    </div>
  </div>
</section>
